<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSite About</title>

    <!-- <link rel="stylesheet" href="/style.css"> -->
    <%- include("partials/head.ejs") %>
    <%- include("partials/favicon.ejs") %>

</head>
<body>
    <%- include("partials/navegacion.ejs") %>

    <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
        <h1 class="ft-50 fw-bold">About</h1>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos sunt praesentium exercitationem provident cum corporis earum inventore mollitia modi facilis qui consequuntur nisi sequi deserunt beatae laborum alias ipsam, minus deleniti ratione reiciendis? Placeat eaque obcaecati reiciendis. Quo corrupti quibusdam voluptatum unde natus recusandae, aperiam sapiente alias, illum distinctio magnam dolore amet cum temporibus provident iure consequatur dolorem omnis voluptate accusantium sunt quasi animi itaque. Nisi distinctio fugit ad illum doloremque explicabo, assumenda odio nobis culpa repellat itaque reprehenderit repellendus amet unde, dolor, voluptatum cum! Aspernatur nihil molestiae facilis earum quidem tempore, laboriosam quisquam maxime dignissimos laudantium dolores deserunt sunt, pariatur consequatur laborum eligendi quia possimus unde? Libero consequuntur commodi reprehenderit voluptatem, dolorum tempora hic eos nam voluptatum repellendus dolore aut pariatur aspernatur asperiores illum saepe nobis et perferendis incidunt temporibus in cum enim? Facere eligendi quidem enim, voluptates eos repudiandae natus, libero ipsum excepturi distinctio explicabo aut voluptas doloribus laudantium consequatur neque reprehenderit earum dolores ab deserunt est quo odio ipsam voluptatum. Architecto labore voluptatum fugiat animi aperiam, iure provident inventore aut quo harum illo, dolorem incidunt assumenda quos molestias ab quis in accusamus natus commodi quod velit minus. Voluptate, perspiciatis veniam? Itaque, reprehenderit ex! Minus quaerat incidunt rerum, nesciunt iusto nobis quasi hic pariatur. Tempora voluptatum et totam eaque aut exercitationem deleniti repellat, accusamus aliquid. Perferendis adipisci ducimus esse magnam eveniet, sint natus! Voluptatem voluptas ex dolor, quam reprehenderit consequuntur similique animi, placeat adipisci exercitationem maiores consequatur accusamus porro ea soluta velit libero dignissimos harum, natus officiis tenetur. Perferendis eum velit itaque, quas necessitatibus consequuntur culpa reiciendis quisquam quis inventore rem praesentium aliquam nisi blanditiis veritatis incidunt quo in sunt nam dolorum sit veniam? Deleniti, nemo? Laudantium nesciunt voluptatum aspernatur exercitationem nobis porro quod eius facilis debitis vel odit esse quia, quidem fugit necessitatibus ut temporibus obcaecati pariatur?</p>
    </div>
</body>
</html>
