<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <%- include("partials/head.ejs") %>
        <%- include("partials/favicon.ejs") %>
</head>

<body>

    <%- include("partials/navegacion.ejs") %>

        <header class="container vh-100 d-flex justify-content-center align-items-center flex-column">
            <img src="/favicon.ico" alt="" class="w-25">
            <h1 class="fw-bold">Fazt</h1>
            <a href="/about" class="btn btn-primary w-30">About</a>
        </header>

        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur dolor rem suscipit cum quis nostrum
            reiciendis corrupti fuga voluptatibus explicabo quidem, libero dignissimos nihil, reprehenderit iusto ab
            quam numquam nobis.
        </p>

        <br>

        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore excepturi commodi laudantium eum eos, quos
            ad nisi libero labore inventore vitae, molestias ipsa eaque, ducimus saepe? Placeat assumenda eum nisi?
        </p>

</body>

</html>
